include README.md MANIFEST.in LICENSE setup.cfg data/*.sh

recursive-include pyris *

prune pyris/api/static/bower

include pyris/api/static/bower/jquery/dist/jquery.js
include pyris/api/static/bower/bootstrap/dist/js/bootstrap.min.js
include pyris/api/static/bower/bootstrap/dist/css/bootstrap.min.css
include pyris/api/static/bower/leaflet/dist/leaflet.css
include pyris/api/static/bower/leaflet/dist/leaflet.js
include pyris/api/static/bower/bootstrap3-typeahead/bootstrap3-typeahead.js
include pyris/api/static/map.js

global-exclude *.pyc
