.MuiToolbar-root {
    height: 68px;
}

.MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 10px !important;
    margin-left: 0px !important;
    max-width: none !important;
}

#box-select-language {
    margin-right: 0px;
    float: right;
}

#appbar-select-language {
    background-color: white;
    width: 100px;
    padding: 8px;
}

.MuiOutlinedInput-notchedOutline {
    border-width: 0px !important;
}

.MuiOutlinedInput-root {
    height: 68px !important;
}
