.dashboard-container {
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    background-color: rgba(245, 245, 245, 1);
}

.container {
    background-color: white;
    margin: 1vh 1vw;
    border-radius: 10px;
    box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s linear;
}

.label-container {
    color: #364f6b;
    font-size: 1.86vh;
    font-weight: 500;
    font-family: "Oswald";
    margin: 0;
    padding: 10px;
}

.icon-label-container {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.icon-container {
    width: 32px;
    height: 32px;
    filter: invert(29%) sepia(19%) saturate(1131%) hue-rotate(171deg)
        brightness(89%) contrast(88%);
        margin: 0;
}

.icon-iris-container {
    background: url("../img/information-32px.png") left top no-repeat;
}

.icon-population-container {
    background: url("../img/population-32px.png") left top no-repeat;
}

.icon-housing-container {
    background: url("../img/housing-32px.png") left top no-repeat;
}

.icon-employment-container {
    background: url("../img/employment-32px.png") left top no-repeat;
}

#map-container-full-screen {
    position: absolute;
    height: 100%;
    width: 100%;
}

#map-container {
    position: absolute;
    height: 32.5vh;
    width: 27vw;
}

#iris-container {
    position: absolute;
    height: 24vh;
    width: 27vw;
    top: 34vh;
}

#population-container {
    position: absolute;
    left: 27.8vw;
    width: 47vw;
    height: 58vh;
}

#housing-container {
    position: absolute;
    height: 32vh;
    width: 74.8vw;
    top: 59.3vh;
}

#employment-container {
    position: absolute;
    height: 91.2vh;
    width: 22.5vw;
    left: 75.5vw;
}
