a {
    color: #46cdcf;
    text-decoration: none;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.home-description-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.main-title {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 3.36vh;
    color: #364f6b;
    margin: 15px 0 0 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 2.6vh;
    color: #3fc1c9;
    margin: 11px 0 0 0;
    padding: 10px;
}

.sub-title {
    font-weight: 500;
    font-size: 1.68vh;
    color: #364f6b;
    margin: 0;
    padding: 10px;
}

.paragraph {
    font-size: 1.5vh;
    margin: 0;
    padding-top: 3px;
    padding-left: 10px;
}

.terms-of-use-container {
    padding-top: 20px;
}
