.map-container {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.map-no-dashboard {
    width: 100%;
}

.map-dashboard {
    width: 40%;
}

.leaflet-control-geocoder-ban-expanded .leaflet-control-geocoder-ban-form {
    width: 100% !important;
    max-width: 86% !important;
}

.leaflet-control-geocoder-ban-form input {
    width: 100% !important;
}

.leaflet-touch .leaflet-control-geocoder-ban {
    min-height: 40px !important;
    margin-right: 20px !important;
    z-index: 500 !important;
}

.leaflet-control-geocoder-ban-form input {
    height: 35px !important;
    font-size: 1.3vh !important;
}

.leaflet-control-geocoder-ban {
    min-width: 23.5vw !important;
}

.leaflet-control-geocoder-ban .leaflet-control-geocoder-ban-alternatives a {
    font-size: 1.3vh !important;
}

.leaflet-touch .leaflet-control-geocoder-ban-icon {
    width: 35px !important;
    height: 40px !important;
}

.searchBar {
    max-width: 400px !important;
    margin: 17px 0 0 18px !important;
}

.iris-popup-container {
    font-size: 1.2vh;
}

.iris-popup-line {
    padding-top: 1px;
}

.iris-popup-title {
    font-family: Roboto medium;
}

.leaflet-popup-tip {
    display: none !important;
}
