.dashboard-iris-container-one {
    display: flex;
}

.description-iris-container {
    margin: auto;
}

.description-iris-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 14px 10px;
    font-size: 1.5vmin;
    gap: 0 10px;
}

.description-iris-label {
    font-weight: 500;
    margin: 0;
    color: #3fc1c9;
}

.description-iris-value {
    margin: 0;
    color: #364f6b;
}
