.dashboard-population-container-one {
    display: flex;
    flex-direction: row;
    gap: 0 2vw;
    padding: 1vh 2vw 2vh 2vw;
}

.dashboard-population-container-two {
    padding: 1vh 2vw 2vh 2vw;
}
