.key-figure-employment-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 10px;
    /* margin-bottom: -10px; */
}

.key-figure-employment-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 15px 10px;
    font-size: 1.42vmin;
    gap: 0 10px;
}

.key-figure-employment-label {
    font-weight: 500;
    margin: 0;
    color: #3fc1c9;
}

.key-figure-employment-value {
    margin: 0;
    color: #364f6b;
    font-weight: 400;
}
