.key-figure-population-container {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    float: right;
    gap: 0 10px;
    font-size: 1.58vh;
    font-weight: 500;
    color: #3fc1c9;
}

.key-figure-population-value {
    color: #364f6b;
    font-weight: 400;
}
